.post_content{
	width: 700px;
	padding: 20px;
}
.post_content .post_title{}
.post_content .post_title blockquote{
    font: 100%/1.5 Avenir, Arial;
    font-size: 1.5rem;

}
.post_content .extra_large{}

.post_body{
	font: 100%/1.5 Avenir, Arial
}
.post_body p{
    font-size: 1.2rem;
    font: 100%/1.5 Avenir, Arial;
}

.post_body p.source {
	text-align: right;
  	margin-right: 61px;
}